* {
  box-sizing: border-box;
}

html,
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
}

.title,
.controls,
.button {
  flex: none;
}

.button {
  padding: 10px 20px;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
  background: tomato;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.todo-checkbox {
  margin: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

input:checked ~ .todo-checkbox {
  background-color: #2196f3;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

.todo-text {
  font-family: "Gotu", sans-serif;
}

.button {
  box-shadow: 5px 1px 0px rgba(0, 0, 0, 0.63);
  border-radius: 45px;
  background: chartreuse;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.button:hover {
  background: cyan;
  cursor: pointer;
}
